.about-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
    align-items: center;
    margin: 50px 0 50px 50px;
}

.about-image img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.about-content h2 {
    font-size: 40px;
}

.about-content .lead {
    font-size: 1.25 rem;
    font-weight: 300;
}

@media (max-width: 768px) {
    .about-grid { grid-template-columns: 1fr; }
    .about-image img { height: 200px; width: 200px; }
}