header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--color-light);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav a {
    margin: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    background: red;
}

header .logo {
    color: var(--color-primary);
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.menu-toggle { display: none; }
.menu-toggle:checked ~ nav { display: flex; }