header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--color-light);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
    background: red;
}

.menu-toggle { display: none; }
.menu-toggle:checked ~ nav { display: flex; }